.contact {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.contact-tag {
    align-self: flex-start;
    margin-left: 13%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
}

.contact-span {
    font-size: 25px;
    color: #f43638;
}

.contact-division {
    display: flex;
    flex-direction: row;
}

.contact-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 15%;
}

.contact-form p {
    margin-bottom: 15px;
}

.contact-1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contact-2 {
    padding: 7.5px 10px;
    background-color: #202331;
    border-color: #f43638;
    display: flex;
    align-items: center;
    border-width: 2.5px;
    border-radius: 8px;
}

.contact-1, .contact-2 {
    margin-bottom: 20px;
}

.contact-3 {
    margin-bottom: 15px;
    padding-bottom: 300px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #202331;
    border-color: #f43638;
    border-width: 2.5px;
    border-radius: 8px;
}

.contact-name {
    width: 46%;
    background-color: #202331;
    border-color: #f43638;
    padding: 7.5px 10px;
    border-width: 2.5px;
    border-radius: 8px;
}

.contact-email {
    width: 46%;
    background-color: #202331;
    border-color: #f43638;
    padding: 7.5px 10px;
    border-width: 2.5px;
    border-radius: 8px;
}

.contact-button {
    width: 200px;
    height: 50px;
    background-color: #f43638;
    border-radius: 8px;
    cursor: pointer;
    transition: 250ms;
}

.contact-button:hover {
    background-color: white;
    color: black;
}

.contact-button-container {
    display: flex;
    justify-content: flex-end;
}

.contact-info {
    width: 15%;
    height: 52.2vh;
    border-style: solid;
    margin-top: 45px;
    margin-left: 5%;
    border-radius: 8px;
    border-color: #f43638;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #202331;
}

.contact-info h4 {
    margin-bottom: 50px;
}

.contact-info a {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}