.projects {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projects-tag {
    align-self: flex-start;
    margin-left: 13%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
}

.projects-span {
    font-size: 25px;
    color: #f43638;
}

.projects-container {
    width: 70%;
    border-radius: 12px;
    border-style: solid;
    border-color: #f43638;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.projects-buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.projects-button {
    width: 250px;
    background-color: #f43638;
    padding: 10px 0px;
    border-radius: 8px;
    cursor: pointer;
}

.projects-button-active {
    width: 250px;
    background-color: white;
    color: black;
    padding: 10px 0px;
    border-radius: 8px;
    cursor: pointer;
}

.projects-previews {
    align-self: center;
    width: 80%;
    height: 60vh;
    border-radius: 8px;
    border-style: solid;
}