.projects {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#202331;
}

.projects-tag {
    align-self: flex-start;
    margin-left: 13%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
}

.projects-span {
    font-size: 25px;
    color: #f43638;
}

.projects-container {
    width: 70%;
    border-radius: 12px;
    border-style: solid;
    border-color: #f43638;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.projects-buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.projects-button {
    width: 200px;
    background-color: #f43638;
    padding: 10px 0px;
    border-radius: 8px;
    cursor: pointer;
    transition: 250ms;
    margin: 15px 0px 20px 0px;
    font-size: 16px;
}

.projects-button-active {
    width: 250px;
    background-color: white;
    color: black;
    padding: 10px 0px;
    border-radius: 8px;
    cursor: pointer;
    transition: 250ms;
}

.projects-previews {
    align-self: center;
    width: 80%;
    height: 60vh;
    border-radius: 8px;
    border-style: solid;
    margin-bottom: 15px;
}

.projects-img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.projects-descriptions {
    width: 80%;
    margin-left: 10%;
}

.projects-descriptions h4 {
    color: #f43638;
    font-size: 24px;
    margin-bottom: 5px;
}

.projects-descriptions p {
    margin-bottom: 10px;
}

.projects-empty {
    padding-bottom: 30px;
}